<h1>You see the Cart: {{cID}}</h1>
<p class="product-list">Products list: </p>
<div class="products">
        {{#each products}}
    <div class="card">
        <div class="card-images">
            <img src={{this.productID.thumbnails}} alt="image of product">
        </div>
        <div class="card-text">
            <h3>{{this.productID.title}}</h3>
            <p>Descripcion: {{this.productID.description}}</p>
            <p>Codigo: {{this.productID.code}}</p>
            <p>Precio: {{this.productID.price}}</p>
            <p>Stock: {{this.productID.stock}}</p>
            <p>Categoria: {{this.productID.category}}</p>
            <p>ID: {{this._id}}</p>
            <p>Quantity: {{this.quantity}}</p>
        </div>
    </div>                                            
    {{/each}}
</div>
<div class="return-products">
    <a href="/products">Return to products</a>
</div>
